@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

    *{
        margin: 0;
        padding: 0;
    }
    body {
      background-image: url(images/pattern-background-desktop.svg);
      background-repeat: no-repeat;
      font-family: 'Red Hat Display', sans-serif;
    }
    .main{
        position: absolute;
        top: 5%;
        left: 40%;
        transform: translate(-10%, 15%);
    }
    .order{
        height: auto;
        max-width: 20vw;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 1px 8px 8px -3px  hsl(224, 23%, 55%);
    }
    #header{
        height: 10rem;
        width: 100%;
        background-image: url(images/illustration-hero.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 12px 12px 0 0; 
    }
    .content{
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
        padding: 0.5rem;
        margin: 0.8rem;
        margin-top: -0.2rem;
       
    }

    h2{
        font-weight: 600;
    }
    div.order p{
        margin-top: 0.6rem;
        font-size: 12px;
        font-weight: 580;
        color: gray;
        line-height: 5p;
        text-align: center;
    }
    #order_details{
        padding: 0.2rem;
        margin-top: 1rem;
        height: auto;
        width: 100%;
        background-color:  hsl(225, 100%, 98%) ;
        display: flex;
        border-radius: 12px;
        justify-content: space-around;
        align-items: center;
    }

    div#price p{
        color: black;
        font-weight: 900;
    }
    div#price span{
        font-size: 12px;
    }
    div#order_details a{
        font-size: 12px;
        font-weight: 600;
    }
    button{
        background-color: hsl(245, 75%, 52%);
        border-radius: 12px;
        color:  hsl(225, 100%, 94%);
        padding: 0.5rem;
        margin-top: 1.2rem;
        width: 100%;
        font-weight: 700;
        margin-bottom: 1rem;
        box-shadow: 0px 8px 8px -4px  hsl(224, 23%, 55%);

    }
    i{
        color: grey;
        padding: 10px;
        border-radius: 50%;
        background-color:  hsl(224, 23%, 85%);
    }
    #cancel{
        font-weight: 900;
        margin-bottom: 1rem;
    }
    @media (max-width: 950px) {
        .main{
            position: absolute;
            top: 5%;
            left: 40%;
        }
        .order{
            max-width: 50%;
        }
    }
    @media (max-width: 650px) {
        .main{
            left: 30%;
        }
        .order{
            max-width: 80%;
        }

    }